<!DOCTYPE html>
<html>
<head>
	<title>HTML Table</title>
</head>
<body>
    <center>  
        <h1>Jspiders Trainer info</h1>
        <table border="2px">
            <thead>
                <tr>
                    <th>EID</th>
                    <th>ENAME</th>
                    <th>EDESG</th>
                    <th>ESAL</th>
                    <th>ECompany</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JSP101</td>
                    <td>Mr.HARSHAD</td>
                    <td>Trainer</td>
                    <td>100000</td>
                    <td>JSPIDERS</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>